.Digital{
    width: 100%;
    padding: 120px 120px 64px 120px;
    gap: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align:center;
    background-color: #F5FBFF;
}



.header{
    width: 580px;
    gap: 40px;
    display: inline;
    align-content: center;
}

.header h1{
    font-weight: 600;
    font-size: 56px;
    align-items: center;
    margin-bottom: 24px;
}

.header p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    color: #383b43;
    padding-bottom: 40px;
}


.bread {
    /* width: 160px; */
    height: 56px;
    border-radius: 8px;
    padding: 14px 20px;
    gap: 8px;
    color: #ffff;
    background-color: #0582d2;
    border: none;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

.crumb{
    /* width: 173px; */
    height: 56px;
    border-radius: 8px ;
    padding: 14px 20px ;
    gap:8px;
    color:black;
    background-color: transparent;
    margin-left: 5%;
    font-size: 16px;
    font-weight: 500;
    border:1px solid #959BA7;
    display: inline-flex;
    align-items: center;
}

.banner .img{
    width: 1120px;
    height: 440px;
    border: 1px;
}

.banner .i {
    display: none;
}

.icon {
    width: 20px;
    height: 20px;
}


@media screen and (max-width: 830px) {
    .Digital{
        width: 100%;
        height: auto;
        padding: 64px 24px;
        /* gap: 64px; */
    }
    
    .header{
        width: 100%;
        gap: 24px;
    }
    
    .header h1{
        font-weight: 600;
        font-size: 56px;
        align-items: center;
        margin-bottom: 24px;
    }
    
    .header p{
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        align-items: center;
        color: #383b43;
        padding-bottom: 40px;
    }
    
    
    .bread {
        width: 100%;
        height: auto;
        border-radius: 8px;
        padding: 14px 20px;
        gap:8px;
        color: #ffff;
        background-color: #0582d2;
        border: none;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        justify-content: center;
    }
    
    .crumb{
        width: 100%;
        height: auto;
        border-radius: 8px ;
        padding: 14px 20px ;
        gap:8px;
        color:black;
        background-color: transparent;
        margin-left: 0;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid #959BA7;
        align-items: center;
        margin-top: 5%;
        justify-content: center;        
    }
    
    .banner .img {
       display: none;
    }

    .banner .i {
        width: 100%;
        height: auto;
        border: 1px;
        /* padding-right: 70%; */
        display:block;
    }
    
    .icon {
        width: 20px;
        height: 20px;
    }

    
}