.Partner{
    width: 100%;
    height: auto;
    padding: 64px 90px 0 90px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #F5FBFF;
    /* align-items: center; */
}

.bread{
    flex: 50%;
    width: 100%;
    display: block;
    align-content: center;
}


.bread h1 {
    font-weight: 600;
    font-size: 56px;
    display: block;
    align-content: center; 
}

.bread p{
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.2px;

}

.buttons {
    margin-top: 40px;
    display: flex;
    margin-bottom: 40px;
}

.crumb{
    width: auto;
    padding: 14px 20px;
    border-radius: 8px;
    gap: 8px;
    color: #ffff;
    background-color: #0582d2;
    border: none;
    font-size: 16px;
    font-weight: 500;
}
.crumb:hover {
    background-color: #0571b4;
}

.crumbs{
    width: auto;
    height: auto;
    padding: 14px 20px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #959BA7;
    margin-left: 5%;
    font-size: 16px;
    color: #2A2D32;
    font-weight: 500;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
}
.crumbs:hover {
    background-color: #959ba71d;
}

.icon  {
    width: 20px;
    height: 20px;
}

.img {
    flex: 50%;
    display: flex;
    width: 100%;
}
.img img {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
}

@media screen and (max-width: 1140px) {
    .buttons {
        flex-direction: column;
        gap: 24px;

    }

    .crumb,
    .crumbs {
        margin: 0;
        width: 100%;
        padding: 14px;
        justify-content: center;
    }
    
}


@media screen and (max-width: 830px) {
    .Partner{
        padding: 64px 24px 0 24px;
        flex-direction: column;
    }
    
    .bread{
        width: 100%;
        display: block;
        align-content: center;
        margin-bottom: 24px;
    }
    
    
    .bread h1 {
        font-weight: 600;
        font-size: 56px;
        display: block;
        align-content: center;        
    }
    
    .bread p{
        margin-top: 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.2px;
    
    }
}
