.Transaction {
    background-color: #E4EFF6;
    width: 100%;
    padding: 120px;
    gap: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: 589px;
    height: 344px;

}

.text h1 {
    font-size: 60px;
    font-weight: 400px;
    color: #09101D;
    margin-bottom: 12px;
    line-height: 65px;
}

.text p {
    font-size: 18px;
    font-weight: 400;
    color: #383B43;
    margin-top: 30px;
    line-height: 28px;
}
.text button {
    border-radius: 8px;
    padding: 16px 20px;
    gap: 20px;
    background-color: #0582d2;
    color: #fff;
    margin-top: 40px;
    font-size: 16px;
    border: none;   
}

.image img {
    width: 100%;
}

@media screen and (max-width: 830px) {

    .Transaction {
        width: 100%;
        padding: 16px 24px 0 24px;
        gap: 40px;
        flex-direction: column;
    }
    
    .text {
        width: 100%;
        height: auto;
    
    }
    
    .text h1 {
        font-size: 40px;
        font-weight: 400px;
        color: #09101D;
        margin-bottom: 12px;
        line-height: 44px;
    }
    
    .text p {
        font-size: 18px;
        font-weight: 400;
        color: #383B43;
        margin-top: 30px;
    }
    .text button{
        width: 161px;
        height: 56px;
        border-radius: 8px;
        padding: 14px 20px;
        gap: 20px;
        background-color: #0582d2;
        color: #fff;
        margin-top: 40px;
        font-size:16px;
        border: none;
    }
}
