.navbar {
    background-color: #F5FBFF;
    padding: 18px 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.folding {
    flex: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.onClose {
    display: contents;
    align-items: center;
    justify-content: space-between;
}

.menuBtn {
    display: none;
}

.logo {
    flex: 25%;
}
.logo img {
    width: 144px;
    height: 46px;
}

.links {
    display: flex;
    gap: 40px;
    list-style: none;
}

.link {
    color: #4F545E;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.link:hover {
    color: #0582D2;
}
.link img {
    width: 18px;
    height: 18px;
    margin-left: 8px;
}
.link span {
    display: inline-flex;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 16px;
}
.buttonOne {
    border: 1px solid #0582D2;
    color: #0582D2;
    background-color: transparent;
    border-radius: 8px;
    padding: 12px 16px;

    font-size: 14px;
    font-weight: 500;
}

.buttonTwo {
    border: none;
    color: #FFFFFF;
    background-color: #0582D2;
    border-radius: 8px;
    padding: 12px 16px;
}

button {
    cursor: pointer;
}

.onCloseTwo {
    display: none;
    position: absolute;
}

.solutions {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 4;
}

.solution {
    flex: 1;
    padding: 40px 35px;
}
.solution:hover {
    background-color: #DDEBF7;
}

.solutionHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.solutionHeader h3 {
    color: #09101D;
}
.solutionHeader img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.solution p {
    color: #4F545E;
}
a {
    text-decoration: none;
}

.onCloseMobile {
    display: none;
    position: relative;
}

.solutionsMobile {
    display: none;
}

.solutionMobile {
    display: none;
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 16px;
    }

    .folding {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }
    .buttons {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .onClose {
        display: none;
        width: 250px;
        height: 100%;
        margin-right: -75px;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        background-color: #FFFFFF;
        /* background: linear-gradient(
            0deg,
            #011f32 0%,
            #0582D2 100%
        ); */
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }
    
    .menuOpen {
        display: flex;
        z-index: 1;
    }

    .buttonOne {
        margin-top: 10px;
    }

    .onCloseTwo {
        display: none;
    }
    .solutions {
        display: none;
    }
    .solution {
        display: none;
    }

    .linkTwo {
        /* background-color: rgba(0, 0, 0, 0.087); */
    }

    .solutionsMobile {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        /* transition: display 1s linear ease-in; */
    }
    
    .solutionMobile {
        display: block;
        padding: 10px;
        color: #4F545E;
    }
    .solutionMobile:hover {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.05);
        color: #0582D2;
        /* background-color: rgba(0, 0, 0, 0.09); */
    }

    .links li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}