.Vision {
    text-align: center;
    background-color: #FFFFFF;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    color: #09101D;
}

.header {
    display: flex;
    align-items: center;    
}
.header h5 {
    font-size: 14px;
    font-weight: 700;
    color: #0582d2;
}
.header img {
    margin-right: 16px;
}


.text {
    text-align: left;
    flex: 1;
}



.item {
    padding: 64px 90px;

    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 48px;
    align-items: center;
}


.imageDiv {
    flex: 1;
}
.image {
    width: 100%;
    height: auto;
}

.textThree {
    padding: 64px 90px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5FBFF;
}
.textThree .header {
    flex: 1;
    display: block;
    text-align: left;
}
.textThree .header h5 {
    text-align: left;
    margin-bottom: 12px;
    font-weight: 700;
}
.textThree .header h2{
    font-size: 30px;
    font-weight: 400;
}

.but {
    border-radius: 8px;
    padding: 14px 20px;
    gap: 8px;
    background-color: #0582d2;
    color: #fff;
    font-size: 16px;
    border: none;
    display: inline-flex;
    align-items: center;
}
.but:hover {
    background-color: #0571b4;
}

.but img {
    width: 20px;
    height: 20px;
}

    


@media screen and (max-width: 830px) {
   
    .Vision {
        padding: 48px 0 0 0;
    }
    
    h2 {
        font-size: 40px;
        font-weight: 400;
        color: #09101D;
        margin-bottom: 0;
    }
    
    .header {
        align-items: start;
        flex-direction: column;
        margin-bottom: 0;
    }
    .header h5 {
        margin-top: 16px;
        margin-bottom: 24px;
    }
    .header img {
        margin-right: 0;
    }
    
    
    .text {
        text-align: left;
    }
    .text p {
        margin-top: 0;
    }
    
    .item {
        padding: 64px 24px;
        flex-direction: column;
    }
    .imageDiv {
        flex: 1;
        order: 2;
    }
    
    .icon {
        width: 40px;
    }
    
    .textThree{
        flex-direction: column;
        padding: 64px 24px;
        align-items: start;
    }
    
    .but {
        margin-top: 20px;
    }
}
