.Bank{
    width: 100%;
    height: 400px;
    padding: 64px 120px 64px 120px;
    gap: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center; 

}

.bread{
    width: 600px;
    height: 272px;
    
    padding: 5px;
    gap: 32px;
}

.bread h1{
    font-weight:400px;
    font-size: 24px;
    line-height: 36px;
    color: #09101d;
    margin-bottom: 10px;
}

.bread p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1%;
    color: #4F545E;
}

.icon {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #DEDFE3;
    background-color: #F3F4F6;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-bottom: 32px;
}
.icon img {
    width: 28px;
    height: 28px;
}




@media screen and (max-width: 830px) {
    .Bank{
        width: 100%;
        height: auto;
        padding: 64px 24px;
        gap: 40px;

        flex-direction: column;    
    }
    
    .bread{
        width: auto;
        height: auto;
        border-radius:16px ;
        
        padding: 24px 0px;
        gap: 32px;
    }
    
    .bread img{
        width: 48px;
        height: 48px;
        radius:8px;
        border: 1px;
        padding: 8px;
        gap: 8px;
        background-color: #f3f4f6;
        margin-bottom: 30px;
    }
    
    .bread h1{
        font-weight:400px;
        font-size: 24px;
        line-height: 36px;
        color: #09101d;
        margin-bottom: 10px;
    }
    
    .bread p{
        font-weight: 400px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -1%;
    }
    
}
