.account{
    width: 100%;
    height: Hug (608px)px;
    padding: 64px 180px 64px 180px;
    gap: 40px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
}




@media screen and (max-width: 830px) {
    .account{
        width: auto;
        height: auto;
        padding: 64px 180px ;
        gap: 40px;
        opacity: 0px;
        display: block;
        flex-direction: column;
    }


    .account img{
        margin-top: 80px;
    }
}