.product{
    width: 100%;
    padding: 0px 120px;
    display: block;
    align-content: center;
    margin-top: 10%;
}

.productImg {
    width: 100%;
    height: auto;
}


@media screen and (max-width: 830px) {
    .product{
        width: auto;
        height: auto;
        padding: 0px 120px;
        gap: 48px;
        display:block ;
        align-content:end;
        margin-top: 40px;
        flex-direction: column;
        margin-right: 100%;
        
    }
    
}