.theWhole {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 90px;
    background-color: #FFFFFF;
    gap: 24px;
}

.image {
    width: 100%;
    height: 100%;
    flex: 50%;
    text-align: left;
}
.image .img1 {
    width: 100%;
    height: auto;
}
.image .img2 {
    display: none;
}

.text{
    flex: 50%;
    text-align: left;
    padding: 40px;
}
.text h3 {
    font-size: 48px;
    font-weight: 600;
    color: #09101D;
    font-family: 'PPRadioGrotesk';
    width: 80%;
    margin-bottom: 24px;
    line-height: 48px;
}
.text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #383B43;
    line-height: 28px;
}
.text button {
    margin-top: 40px;
    /* height: 56px; */
    border-radius: 8px;
    border: 1px solid #0582D2;
    padding: 14px 20px;
    background-color: transparent;
    color: #374151;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    text-align: center;
}
.text button:hover {
    background-color: #0584d234;
}

.text .icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}



@media screen and (max-width: 830px) {

    .theWhole {
        flex-direction: column;
        padding: 64px 24px;

    }
    
    .image {
        order: 2;
        width: 100%;
        height: auto;
        text-align: left;
        margin-top: 60px;
    }
    .image .img2 {
        display: block;
        width: 100%;
        height: auto;
    }
    .image .img1 {
        display: none;
    }
    
    .text{
        margin-left: 0;
        padding: 0;
    }
    .text h3 {
        font-size: 56px;
    }
    .text button {
        margin-top: 30px;
    }
}