.Mission{
    width: 100%;
    height: 714px;
    padding: 96px 180px;
    gap: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bread h5{
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color:#0582d2 ;
}

.bread h1{
    font-weight: 400;
    font-size: 48px;
}


.img{
    width: auto;
    height: auto;
    /* margin-right: 15%; */
}


@media screen and (max-width: 830px) {

    .Mission{
        padding: 64px 24px;
    
        display: block;
    }
    
    .bread{
        width: 500px;
        Height:200px;
        Gap:16px;
        margin-right:0;
    }
    
    .bread h5{
        height: 14px;
        font-weight: 700px;
        size: 14px;
        line-height: 14px;
        letter-spacing: 0.5px;
        color:#0582d2 ;
    }
    
    .bread h1{
        height: 500px;
       font-weight:700px;
        size:48px;
        width: 516;
    }
    
    
    .img{
        width: 516px;
        height: 480px;
        margin-left: 0;
    }
}