.whole {
    background-color: #F5FBFF;
    padding: 60px 90px 64px 90px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.heading {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    margin-bottom: 64px;
}
.heading h2 {
    font-size: 56px;
    font-weight: 600;
    color: #09101D;
    font-family: 'PPRadioGrotesk';
    margin-bottom: 24px;
}
.heading p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #383B43;
    margin-bottom: 40px;
}


.buttonOne {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 56px;
    margin-right: 16px;
    padding: 14px 20px;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #0582D2;
    border: none;
    gap: 8px;
}
.buttonOne:hover {
    background-color: #0571b4;
}
.buttonTwo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 56px;
    padding: 14px 20px;
    border-radius: 8px;
    color: #111827;
    background-color: transparent;
    border: 1px solid #959BA7;
    gap: 8px;
}
.buttonTwo:hover {
    background-color: #959ba71d;
}
.buttonOne img,
.buttonTwo img {
    width: 20px;
    height: 20px;
}

.image .mainImg1 {
    width: 100%;
    height: auto;
}
.image .mainImg2 {
    display: none;
}


@media screen and (max-width: 950px) {

    .whole {
        padding: 64px 50px 64px 50px;
        align-items: normal;
    }
    
    .heading {
        margin: 0;
        margin-bottom: 64px;
    }
    .heading h2 {
        font-size: 50px;
    }
    .heading p {
        margin-bottom: 40px;
    }
    
    
    .image .mainImg2 {
        display: block;
        width: 100%;
        height: auto;
        margin-left: 3%;
        margin-right: 3%;
    }
    .image .mainImg1 {
        display: none;
    }
}


@media screen and (max-width: 600px) {

    .whole {
        padding: 64px 24px 64px 24px;
        align-items: normal;
    }

    .heading {
        text-align: left;
    }
    
    .buttonOne {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
        padding: 14px 20px;
    }
    .buttonTwo {
        width: 100%;
        padding: 14px 20px;
    }
    
}