.whole {
    background-color: #F5FBFF;
    padding: 64px 90px 0 90px;
    gap: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    flex: 45%;
    width: 60%
}
.text h2 {
    font-size: 56px;
    font-weight: 600;
    color: #09101D;
    font-family: 'PPRadioGrotesk';
    margin-bottom: 32px;
    line-height: 56px;
}
.text p {
    font-size: 18px;
    font-weight: 500;
    color: #4F545E;
    line-height: 28px;
}

.buttons {
    margin-top: 48px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.buttons img {
    width: 24px;
    height: 24px;
}

.buttonOne {
    flex: 1;
    background-color: #0582D2;
    border: none;
    padding: 12px 24px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    gap: 8px;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
}
.buttonOne:hover {
    background-color: #0571b4;
}

.buttonTwo {
    flex: 1;
    background-color: transparent;
    border: 1px solid #6B7280;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
}
.buttonTwo input {
    background-color: transparent;
    border: none;
    width: 150px;
    outline: none;
    font-size: 20px;
}
::placeholder {
    color: #ACB0B9;
    font-size: 18px;
    font-weight: 500;
}

button {
    cursor: pointer;
}

.pic {
    flex: 40%;
    width: 100%;
    margin-left: 15px;
    display: flex;
}
.pic img {
    width: 100%;
    /* height: 100%; */
    height: auto;
}
  

@media screen and (max-width: 830px) {

    .whole {
        width: 100%;
        flex-direction: column;
        padding: 60px 30px 0 30px;
    }
    .text h2 {
        font-size: 40px;
        color: #09101D;
    }
    
    .buttons {
        flex-direction: column;
        margin-bottom: 60px;
    }
    
    .buttonOne {
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 12px 24px;
    }
    
    .buttonTwo {
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 12px 24px;
        margin: 0;
    }
    .buttonTwo input {
        width: 150px;
        outline: none;
    }

    .buttons img {
        margin-right: 10px;
    }
}