.About{
    width: 100%;
    gap: 24px;
    /* background-image: url("../../../assets/image\ 33.png"); */
    background-size: 100% 100%;
    display: flex;
    text-align: center;
    padding: 120px;
    justify-content: center;
}

.bread{
    width: 50%;
    gap: 40px;
    display: block;

}


.bread h1{
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    align-items: center;
    color: #ffffff;
    width: auto;
    height: 56px;
    margin: 0;
}

.bread p{
    font-weight: 400;
    size: 18px;
    line-height: 28px;
    letter-spacing: -0.4px;
    align-items: center;
    color: #dedfe3;
    padding: 8%;
    width: auto;
    
}

.bread button{
    Width: 156px;
    height: 56px;
    border-radius: 8px;
    padding: 14px 20px ;
    gap: 8px;
    color: #ffffff;
    background-color: #0582d2;
    border: none;
    font-size: 16px;
}
.bread button:hover {
    background-color: #0571b4;
}

.icon {
    width: 20px;
    height: 10px;
    margin-left: 8px;
}


@media screen and (max-width: 700px) {
    .About{
        width: auto;
        height: 550px;
        gap: 24px;
        background-image: url("pics/image33.png");
        background-size: 100% 100%;
        display: flex;
        text-align: left;
        flex-direction: column;
        padding: 120px 24px;
    }
    
    .bread{
        width: auto;
        height: auto;
        gap:40px;
        margin-left: 0;
        display:inline;
        text-align: center;
        text-align: left;
    }
    
    
    .bread h1{
        font-weight:400;
        size: 150px;
        line-height:100px;
        align-items: center;
        color: #ffffff;
        width: auto;
        height: auto;
    }
    
    .bread p{
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.4px;
        /* align-items: center; */
        color: #dedfe3;
        padding: 0;
        width: auto;
        margin-bottom: 40px;
        
    }
    
    .bread button{
        Width: 156px;
        height: 56px;
        border-radius: 8px;
        padding: 14px 20px ;
        gap: 8px;
        color: #ffffff;
        background-color: #0582d2;
        border: none;
        font-size: 16px;
        align-items: center;
        margin-right: 80px;
    }
    
    .icon {
        width: 20px;
        height: 10px;
        margin-left: 8px;
    }
}
