.whole {
    background-color: #F5FBFF;
    padding: 60px 120px 64px 120px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.heading {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    margin-bottom: 64px;
}
.heading h2 {
    font-size: 56px;
    font-weight: 400;
    color: #09101D;
}
.heading p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #383B43;
    margin-bottom: 40px;
}


.buttonOne {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 56px;
    margin-right: 16px;
    padding: 14px 20px;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #0582D2;
    border: none;
}
.buttonTwo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 56px;
    padding: 14px 20px;
    border-radius: 8px;
    color: #111827;
    background-color: transparent;
    border: 1px solid #959BA7;
}
.buttonOne img,
.buttonTwo img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


.image .mainImg1 {
    width: 100%;
    height: auto;
}
.image .mainImg2 {
    display: none;
}

.boxOne {
    position: absolute;
    height: auto;
    top: 700px;
    left: 120px;
    padding: 40px 40px;
    background-color: #FFFFFF;
    border: 1px solid #F0F7FF;
    box-shadow: 0px 3px 32px 0px #6B728033;
}
.boxOne p,
.boxTwo p {
    font-size: 24px;
    color: #6B7280;
    width: 247px;
}
.boxTwo {
    position: absolute;
    top: 800px;
    right: 120px;
    padding: 40px;
    background-color: #FFFFFF;
    border: 1px solid #F0F7FF;
    box-shadow: 0px 3px 32px 0px #6B728033;
}
.boxOne img,
.boxTwo img {
    width: 40px;
    height: 40px;
}


@media screen and (max-width: 830px) {

    .whole {
        padding: 64px 24px 64px 24px;
        align-items: normal;
    }
    
    .heading {
        margin: 0;
        text-align: left;
        margin-bottom: 64px;
    }
    .heading h2 {
        font-size: 50px;
    }
    .heading p {
        margin-bottom: 40px;
    }
    
    
    .buttonOne {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
        padding: 14px 20px;
    }
    .buttonTwo {
        width: 100%;
        padding: 14px 20px;
    }
    
    
    .image .mainImg2 {
        display: block;
        width: 100%;
        height: auto;
        margin-left: 3%;
        margin-right: 3%;
    }
    .image .mainImg1 {
        display: none;
    }
    
    .boxOne {
        display: none;
    }
    .boxTwo {
        display: none;
    }    
    
}