
.Benefit{
    width: 100%;
    height: auto;
    padding: 6%;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
}

.bread{
    width: 50%;
    margin-bottom: 72px;
    display: block;
}

.bread h5{
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #0582d2;
    text-align: left;
    margin-bottom: 16px;
}


.bread h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 53px;
    text-align: left;
    color: #09101D;
    margin-bottom: 24px;
}

.bread p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    align-items: center;
    color: #000000E5;
}

.crumb {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: flex-start;
} 

.text{
    width: 100%;
    height: auto;
    justify-self: baseline;
}

.header img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}
.header h2 {
    font-size: 28px;
    font-weight: 700;
    color: #09101d;
    text-align: left;
    margin-bottom: 8px;
    line-height: 36px;
}

.text p {
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    color: #383B43;
    text-align: left;
}
.header{
    display: contents;
}




@media screen and (max-width: 830px) {
    .Benefit{
        width: auto;
        height: auto;
        padding: 64px 24px;
        flex-direction: column;
    }
    
    .bread{
        width: auto;
        height: auto;
        margin-bottom: 10%;
    }
    
    .crumb {
        width: auto;
        height: auto;
        padding: 64px 16px;
        display: flex;
        flex-direction: column;
    }

    .text {
        width: 100%;
        height: auto;
        gap: 24px;
        text-align: left;
    }

    .header img {
        width: 100%;
        height: auto;
        margin-bottom: 24px;
    }

    .header h2 {
        margin-bottom: 8px;
        font-size: 24px;
    }

    .text p {
        margin-bottom: 24px;
    }

   
}
